@model HomeVm
@{
    ViewData["Title"] = "Index";
    int count = 1;
    int productcount = 1;
}

<!--====== Slider Part Start ======-->

<section class="slider-area slider-active">
    <div class="single-slider">
        <div class="slider-image">
            <img src="assets/images/slider-1.jpg" alt="slider">
        </div>
        <div class="slider-content-wrapper">
            <div class="container-fluid custom-container">
                <div class="slider-content">
                    <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save $120 when you buy</h4>
                    <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>2020 Virtual Reality </span> Fulldive VR.</h1>
                    <p data-animation="fadeInRightBig" data-delay="0.5s">Explore and immerse in exciting 360 content with Fulldive’s all-in-one virtual reality platform</p>
                    <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                </div>
            </div> <!-- container -->
        </div>
    </div> <!-- single slider -->
    <div class="single-slider">
        <div class="slider-image">
            <img src="assets/images/slider-2.jpg" alt="slider">
        </div>
        <div class="slider-content-wrapper">
            <div class="container-fluid custom-container">
                <div class="slider-content">
                    <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save $120 when you buy</h4>
                    <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>4K HDR Smart TV 43 </span> Sony Bravia.</h1>
                    <p data-animation="fadeInRightBig" data-delay="0.5s">Explore and immerse in exciting 360 content with Fulldive’s all-in-one virtual reality platform</p>
                    <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                </div>
            </div> <!-- container -->
        </div>
    </div> <!-- single slider -->
</section>

<!--====== Slider Part Ends ======-->
<!--====== Banner Part Start ======-->

<div class="banner-area banner-bg">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-image">
                    <a href="shop-4-column.html"><img src="assets/images/banner-1.png" alt="banner"></a>
                </div> <!-- banner image -->
            </div>
            <div class="col-md-6">
                <div class="banner-image">
                    <a href="shop-4-column.html"><img src="assets/images/banner-2.png" alt="banner"></a>
                </div> <!-- banner image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Banner Part Ends ======-->
<!--====== Category Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Featured Categories</h2>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row-wrapper category-active">
            <div class="custom-col">
                @foreach (var category in Model.categories)
                {
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/assets/images/@category.ImageUrl" style="width:133px;height:133px" alt="category">
                            <p>@category.Name</p>
                        </a>
                    </div>
                    if (count % 2 == 0 && count != Model.categories.Count)
                    {
                        @Html.Raw("</div>");
                        @Html.Raw("<div class='custom-col'>");
                    }
                    count++;
                }
            </div>
        </div>
    </div><!-- container -->
</section>

<!--====== Category Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row product-active">
                        <div class="col-lg-2">
                            @foreach (var item in ViewBag.newarrive)
                            {
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/assets/images/product/@item.Images[0].ImageUrl" alt="product">
                                            @if (item.Images.Count > 1)
                                            {
                                                <img class="second-image" src="~/assets/images/product/@item.Images[1].ImageUrl" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@item.Id"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        @if (item.Campaign.Discount != 0)
                                        {
                                            <span class="discount-product">-@item.Campaign.Discount%</span>
                                        }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        @{
                                            string ShortDesc = item.Description;
                                            if (ShortDesc.Length > 54)
                                            {
                                                ShortDesc = ShortDesc.Substring(0, 54) + "...";
                                            }
                                        }
                                        @{
                                            double salePrice = 0;
                                            @if (item.Campaign.Discount != 0)
                                            {
                                                salePrice = Convert.ToDouble(item.Price - ((item.Price) * (item.Campaign.Discount) / 100));
                                            }

                                        }
                                        <h4 class="product-title"><a href="single-product.html">@Html.Raw(ShortDesc)</a></h4>
                                        <div class="product-price">
                                            @if (item.Campaign.Discount == 0)
                                            {
                                                <span class="price-sale">€@item.Price</span>
                                            }
                                            @if (item.Campaign.Discount != 0)
                                            {
                                                <span class="regular-price ">€@item.Price</span>
                                                <span class="price-sale">€@salePrice</span>
                                            }

                                        </div>
                                    </div>
                                </div> <!-- single product -->
                                @if (productcount % 2 == 0 && productcount != ViewBag.newarrive.Count)
                                {
                                    @Html.Raw("</div>");
                                    @Html.Raw("<div class='col-lg-2'>");
                                }
                                productcount++;
                            }
                        </div>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>

            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row product-active">
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-1.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-2.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-10.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-11.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Winter Jacket eu accumsan massa facili originals Kaval Wind breaker</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€23.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-4.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                    <span class="discount-product">-12%</span>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Originals Kaval Wind breaker Winter Jacket eu...</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price ">€23.90</span>
                                        <span class="price-sale">€21.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-12.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Juicy Couture Juicy Quilted Terry Track Jacket eu...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€35.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-5.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Madden by Steve Madden Cale 6 eu accumsan massa...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-16.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-6.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                    <span class="discount-product">-12%</span>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Trans-Weight Hooded Wind and Water Resistant Shell</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-6.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-7.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Water and Wind Resistant Insulated Jacket eu massa</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-13.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Fresh Foam Kaymin eu accumsan massa...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-8.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Juicy Couture Solid Sleeve Puffer Jacket eu accumsan..</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€18.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-14.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-15.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Fresh Foam LAZR v1 Sport eu accumsan...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€18.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€29.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price">€29.00</span>
                                        <span class="price-sale">€26.10</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€29.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price">€29.00</span>
                                        <span class="price-sale">€26.10</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>

            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                <div class="product-items">
                    <div class="row product-active">
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-1.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-2.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-10.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-11.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Winter Jacket eu accumsan massa facili originals Kaval Wind breaker</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€23.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-4.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                    <span class="discount-product">-12%</span>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Originals Kaval Wind breaker Winter Jacket eu...</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price ">€23.90</span>
                                        <span class="price-sale">€21.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-12.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Juicy Couture Juicy Quilted Terry Track Jacket eu...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€35.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-5.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Madden by Steve Madden Cale 6 eu accumsan massa...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-16.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-6.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                    <span class="discount-product">-12%</span>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Trans-Weight Hooded Wind and Water Resistant Shell</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-6.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-7.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Water and Wind Resistant Insulated Jacket eu massa</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-13.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Fresh Foam Kaymin eu accumsan massa...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-8.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Juicy Couture Solid Sleeve Puffer Jacket eu accumsan..</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€18.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-14.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-15.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Fresh Foam LAZR v1 Sport eu accumsan...</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€18.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€29.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price">€29.00</span>
                                        <span class="price-sale">€26.10</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-3.jpg" alt="product">
                                        <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€29.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->

                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                        <li class="rating-on"><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                    <div class="product-price">
                                        <span class="regular-price">€29.00</span>
                                        <span class="price-sale">€26.10</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Special Products Part Start ======-->

<section class="special-products-area pt-70 pb-120">
    <div class="container-fluid custom-container">
        <div class="special-products-active">
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    <li><img src="assets/images/special-products/special-products-1.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-2.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-3.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-4.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-5.jpg" alt="Products Thumb"></li>
                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-1.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-2.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-3.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-4.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-5.jpg" alt="products">
                                    </a>
                                </div>
                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">Deal of the week</h2>
                                <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€21.03</span>
                                        <span class="regular-price">€23.90</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    <li><img src="assets/images/special-products/special-products-5.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-6.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-8.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-7.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-4.jpg" alt="Products Thumb"></li>
                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-5.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-6.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-8.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-7.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-4.jpg" alt="products">
                                    </a>
                                </div>
                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">Deal of the week</h2>
                                <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€21.03</span>
                                        <span class="regular-price">€23.90</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
        </div> <!-- special products active -->
    </div> <!-- container -->
</section>

<!--====== Special Products Part Ends ======-->
<!--====== Brand Part Start ======-->
<!--====== Features Banner Part Start ======-->

@await Component.InvokeAsync("CompanySliderService")

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Ends ======-->
<!--====== Blog Part Start ======-->

<section class="blog-area blog-bg pt-100 pb-100">
    <div class="container">
        <div class="row blog-active">

            @foreach (var item in Model.Blogs)
            {
                <div class="col-lg-4">
                    <div class="single-blog">
                        <div class="blag-image">

                            @foreach (var element in ViewBag.photos)
                            {
                                if (element.BlogId == item.Id && element.PhotoUrl != null)
                                {
                                    <div class="gallery-item">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/images/@element.PhotoUrl" style="width:350px" height="258" alt="blog"></a>
                                    </div>
                                }

                                if (element.BlogId == item.Id && element.VideoUrl != null)
                                {
                                    <div class="blog-post-video">
                                        <iframe src="@element.VideoUrl" allow="autoplay; encrypted-media" allowfullscreen="" width="560"></iframe>
                                    </div>
                                }
                            }
                            <p class="meta-date">
                                <span class="day">@item.Date</span>
                            </p>
                        </div>
                        <div class="blag-content">
                            <h2 class="blog-title"><a href="blog-single-left-sidebar.html">@item.Title</a></h2>
                            <p>
                                @{
                                    string ShortDesc = item.Description;
                                    if (ShortDesc.Length > 218)
                                    {
                                        ShortDesc = ShortDesc.Substring(0, 218) + "...";
                                    }
                                }
                                @Html.Raw(ShortDesc)
                            </p>
                        </div>
                    </div> <!-- single blog -->
                </div>
            }
        </div>
    </div> <!-- row -->
    <!-- container -->
</section>

<!--====== Blog Part Ends ======-->
<!--====== Testimonial Part Start ======-->

<section class="testimonial-area bg_cover pt-100 pb-100" style="background-image: url(assets/images/bg_testimonial.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="testimonial-active">
                    <div class="single-testimonial d-sm-flex">
                        <div class="testimonial-author">
                            <img src="assets/images/author-1.png" alt="author">
                        </div>
                        <div class="testimonial-content media-body">
                            <p> An has feugiat vivendum, ad vix tacimates accusamus, cum commune lucilius no. Sit at alia civibus indoctum, ea mel regione percipit adipisci. Per modus nostrum vituperata no, eam ne magna solum constituam.</p>
                            <h4 class="author-name">John Doe</h4>
                            <span class="designation">email@yourwebsitename.com</span>
                        </div>
                    </div> <!-- single testimonial -->
                    <div class="single-testimonial d-sm-flex">
                        <div class="testimonial-author">
                            <img src="assets/images/author-1.png" alt="author">
                        </div>
                        <div class="testimonial-content media-body">
                            <p> An has feugiat vivendum, ad vix tacimates accusamus, cum commune lucilius no. Sit at alia civibus indoctum, ea mel regione percipit adipisci. Per modus nostrum vituperata no, eam ne magna solum constituam.</p>
                            <h4 class="author-name">John Doe</h4>
                            <span class="designation">email@yourwebsitename.com</span>
                        </div>
                    </div> <!-- single testimonial -->
                    <div class="single-testimonial d-sm-flex">
                        <div class="testimonial-author">
                            <img src="assets/images/author-1.png" alt="author">
                        </div>
                        <div class="testimonial-content media-body">
                            <p> An has feugiat vivendum, ad vix tacimates accusamus, cum commune lucilius no. Sit at alia civibus indoctum, ea mel regione percipit adipisci. Per modus nostrum vituperata no, eam ne magna solum constituam.</p>
                            <h4 class="author-name">John Doe</h4>
                            <span class="designation">email@yourwebsitename.com</span>
                        </div>
                    </div> <!-- single testimonial -->
                </div> <!-- testimonial Active -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Testimonial Part Ends ======-->
<!--====== Newsletter Part Start ======-->

@await Component.InvokeAsync("Subscribe")

<!--====== Newsletter Part Ends ======-->
